<div class="widget">
    <h4 class="title">个人信息</h4>
    用户名：{{ current_user.username}}
    <br>
    {% if current_user.confirmed %}
    邮箱已验证
    {% else %}
    请及时 <a href="{{ url_for('user.resend_email') }}">验证邮箱</a>
    {% endif %}
</div>

<div class="widget">
    <h4 class="title">标签</h4>
    {% for t in titles %}
    <p><a href="###"><span class="glyphicon"></span> {{ t.title }}</a></p>

    {% endfor %}
</div>


<div class="widget">
    <h4 class="title">项目</h4>
    {% for p in project %}
        <p><a href="#"><span class="glyphicon glyphicon-{{ p.icon }}"></span> {{ p.name }}</a></p>
    {% endfor %}

</div>