<head>
    <script src="{{ url_for('static',filename='js/moment-with-locales.js') }}"></script>
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="{{ url_for('static',filename='css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/square/red.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static',filename='css/polaris/polaris.css') }}" rel="stylesheet"> -->
    <script src="{{ url_for('static',filename='js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/icheck.js') }}"></script>
</head>

<table class="table table-hover">
    <thead>
    <tr>
        <th style="width: 50%">任务</th>
        <th style="width: 10%">项目</th>
        <th style="width: 20%">创建时间</th>
        <th style="width: 10%">完成？</th>
        <th style="width: 10%">操作</th>
    </tr>
    </thead>
    <tbody>
    {% for t in tasks %}
    <tr data-toggle="tooltip" data-placement="top" title="" id="task{{ t.id }}">
        <td>{{ t.task }}</td>
        <td>{{ t.project }}</td>
        <td>{{ t.timestamp }}</td>
        <td>
            {% if t.filish %}
            <a href="{{ url_for('main.task_unfilish',id=t.id) }}">
                <button type="button" class="btn btn-success btn-xs"><span
                        class="glyphicon glyphicon-ok"></span></button>
            </a>
            {% else %}
            <a href="{{ url_for('main.task_filish',id=t.id) }}">
                <button type="button" class="btn btn-warning btn-xs"><span
                        class="glyphicon glyphicon-remove"></span></button>
            </a>
            {% endif %}
        </td>
        <td>
            <div class="dropdown">
                    <a data-toggle="dropdown" href=""><span class="glyphicon glyphicon-edit"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#edit{{ t.id }}" data-toggle="modal">编辑任务</a></li>
                        <li><a href="#">删除任务</a></li>
                    </ul>
                </div>
        </td>
        {% endfor %}
    </tr>
    </tbody>
</table>