{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block content %}

<div>
    {% if overdue_tasks %}
    <h3><p style="color: red;">有过期的任务</p></h3>
    {% set tasks=overdue_tasks %}
    {% include 'task_list.html' %}
    {% endif %}
</div>

<div>
    <h2>
        <p>今天
            <small style="color: darkcyan">
                <script>
                    var time = moment('{{ now }}').locale('zh-cn').format('YYYY dddd MMMDo');
                    document.write(time);
                </script>
            </small>
        </p>
    </h2>
    {% set tasks=today_tasks %}
    {% include 'task_list.html' %}
</div>
{% include 'add-task.html' %}
{% endblock %}

{% block side %}
{% include 'side.html' %}
{% endblock %}
