[[source]]
url = "https://pypi.douban.com/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
pymysql = "*"
flask-mail = "*"
flask-bootstrap = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.6"
